
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nerko+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

ul { 
    margin-top: 15px;
    padding-left: 40px; 
}

p, ul li{
    font-family: "Dosis", sans-serif;
    font-size: larger;
    font-style: normal;
}
span{
        font-family: "Nerko One", cursive;
        font-weight: 400;
        font-style: normal;
}
h1{
        font-family: "Nerko One", cursive;
        font-size:50px;
        text-align: center;
}

.head{
    color: red;
}

.time {
    background-color: #faf7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
}

#timer {
    background-color: #302f2f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(252, 250, 250, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.heading-1 {
    font-family: "Nerko One", cursive;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: lighter;
    border-top: rgb(36, 32, 32) solid 1px ;
    color:#fff;
}

.heading-2 {
    font-family: "Nerko One", cursive;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: rgb(36, 32, 32) solid 1px ;
    font-weight:lighter;
    color: #fff;
}


input[type="time"] {
    font-size: 1.2em;
    padding: 5px;
    margin: 0 20px;
    width: 140px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    font-family: "Nerko One", cursive;
    background-color: #302f2f;
    border: rgb(36, 32, 32) solid 1px ;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button.minus, button.add {
    font-size: 1.2em;
    width: 40px;
    height: 40px;
}

.btn {
    margin-top: 20px;
}

.btn button {
    margin: 0 10px;
}

.message, .breakMess, .repeat, .done {
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff;
}

audio {
    display: none;
}
